.border {
	width: 80%;
	margin: 75px;
	border: none!important;
}

table {
	border: 1px solid black;
	width: 45%;
	
}

th {
	border: 1px solid black;
	padding-left: 10px;
	font-size: 35px;
}

td {
	border: 1px solid black;
	padding-left: 10px;
	font-size: 25px;
}

.first {
	font-weight: bold;
}

.last {
	font-style: italic;
}