.top-left {
	width: 20%;
	float: left;
	padding-left: 25px;
	margin-top: 50px;
	display: -webkit-inline-box;
}

.top-right {
	width:20%;
	float: right;
	margin-top: 50px;
}

.left {
	width: 20%;
	float: left;	
	padding-left: 25px;
}

.right {
	width: 20%;
	float: right;	
	margin-right: 40px;
}

.index {
	display: flex;
}

table{
	width: 96%;
	margin: 25px;
}
